body {
  background-color: #16323b;
}
.custom-container {
  margin: auto 120px auto 120px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 60px;
  color: #ffffff;
}

#bio-title {
  margin-top: 20px;
}
#bio-image img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.accordion {
  background-color: rgb(223, 217, 217);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 24px;
  transition: 0.4s;
  border-bottom: 1px solid #000;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
#social-links a {
  color: #ccc;
  padding-right: 10px;
}

#social-links a:hover {
  color: #777;
  transition: ease-in 1s;
}

.skills-list {
  display: flex;
  list-style: none;
}

.skills-list li {
  padding-right: 25px;
}

#projects {
  background-color: #343a40;
  color: #fff;
}
@media (max-width: 760px) {
  #bio-name {
    font-size: 30px;
  }
  #bio-title {
    font-size: 24px;
  }
  #bio-image img {
    height: 100px;
    width: 100px;
  }
  .skills-list {
    display: block;
  }

  #projects img {
    margin-top: 20px;
    margin-right: 20px;
  }
}
